/* secpg.css */

.ramnaslatt-page {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #002663;
  text-align: center;
}

.header-section {
  background-image: url(./lux.webp) ;
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.header-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.header-section * {
  position: relative;
  z-index: 2;
}

.logo {
  height: 50px;
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.thank-you-text {
  font-size: 2em;
  margin: 20px 0;
}

.booking-info {
  font-size: 1.2em;
  color: #fff;
}

.map-section {
  padding: 20px;
}

.map-image {
  width: 100%;
  max-width: 600px;
}

.copyright-section {
  text-align: center;
  padding: 10px;
  font-size: 0.8em;
}
.mp {
  color: #ffffffeb;
}